@media (min-width:992px) {
    .textBlock-left {
        .washi {
            margin-right: -90px;
            z-index: 1
        }
    }
    .textBlock-right {
        .washi {
            margin-left: -90px;
            z-index: 1;
        }
    }
}
.imageBlock-right, .imageBlock-left {
    z-index: 0;
}
.imageBlock {
    
    position: relative;
    .attrib {
        background-color: rgba(0,0,0,0.4);
        color: white;
        position: absolute;
        bottom: 0;
        font-size: 0.9rem;
        padding: 0 5px;
        a {
            color: white;
        }
    }
    .attrib--left {
        left: 0;
    }
    .attrib--right {
        right: 0;
    }

    aspect-ratio: 8 / 3;

    @media (min-width:992px) {
        aspect-ratio: 4 / 3;

        &.image--landscape {
            aspect-ratio: 4 / 3;
        }
        &.image--portrait {
            aspect-ratio: 3 / 4;
        }

    }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.cta {
    text-align: right;
}



