.btn {
    border-radius: 0;
}
.btn-primary {
    border: 1px solid var(--col-yellow-400);
    background-color: var(--col-yellow-400);
    color: var(--col-black-400);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: #{(50/1000)}em;
    transition: all 0.3s ease;
    min-width: 195px;
    padding: 0.5rem;
    &:hover {
        border: 1px solid var(--col-yellow-400);
        background-color: var(--col-black-400);
        color: var(--col-yellow-400);
    }
    &:focus {
        border: 1px solid var(--col-black-400);
        background-color: var(--col-yellow-400);
        color: var(--col-black-400);
        box-shadow: none;
    }
}
.btn-secondary {
    font-weight: 700;
    transition: all 0.3s ease;
    min-width: 140px;
}

.btn-outline {
    border: 1px solid var(--col-black-400);
    color: var(--col-black-400);
    font-weight: 600;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: #{(50/1000)}em;
    min-width: 195px;
    padding: 0.5rem;
    &:hover {
        border-color: var(--col-green-400);
        color: var(--col-green-400);
    }
}

.btn-large {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.btn-next {
    @extend .btn-outline;
    &::after {
        content: "\f105";
        font-family: 'font awesome 6 free';
        margin-left: 0.5rem;
    }
}

.btn-previous {
    @extend .btn-outline;
    &::before {
        content: "\f104";
        font-family: 'font awesome 6 free';
        margin-right: 0.5rem;
    }

    &::after {
        content: "";
    }
}