#header {
    background-color: white;
    a {
        transition: all 0.3s ease;
    }
    .d-none {
        transition: all 0;
    }
    .social-icons a {
        color: var(--col-green-400);
        transition: all 0.3s ease;
        &:hover {
            text-decoration: none;
            color: var(--col-yellow-400);
        }
        &:not(:last-of-type) {
            margin-right: 0.5rem;
        }
    }

    .navbar-brand {
        display: block;
        height: 45px;
        width: 150px;
        margin-inline: auto;
        background-image: url(../img/hinoki-logo.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-width:992px) {
            height: 60px;
            width: 200px;
        }
    }

    #primaryNav {
        a {
            text-decoration: none;
            transition: all 0.3s ease;
            letter-spacing: #{(50/1000)}em;
            &:hover {
                color: var(--col-green-400);
            }
            margin-bottom: -1px;
            &:focus {
                color: var(--col-green-400);
            }
        }
        
        #main-menu {
            border-bottom: 1px solid var(--col-green-400-tx);
            text-transform: uppercase;
            font-weight: 300;
            .active,
            .current_page_parent > a {
                color: var(--col-green-400);
                @media (min-width:992px) {
                    color: var(--col-black-400);
                    border-bottom: 1px solid var(--col-green-400);
                }
            }
            .dropdown-menu a { text-transform: initial; }
        }
    }
}
